* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #a6a9f1;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  background-color: #535bf2;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header__current {
  position: absolute;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.header__links{
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__link {
  display: block;
  height: 96%;
  padding: 20px;

  background-color: #ffffff;
}

main{
  max-width: 1200px;
  margin: 20px auto 0;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  max-width: 22%;
  margin-bottom: 20px;
  border: 1px #747bff solid;
  border-radius: 4px;
  overflow: hidden;
}

.product__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.product__brand,
.product__title,
.product__stock {
  margin-bottom: 5px;
}

.search {
  margin: 0 auto 20px;
  width: fit-content;
  position: relative;
}

.search__input {
  width: 300px;
  height: 30px;
  border: 1px solid rgba(115, 121, 231, 0.596);
  padding-left: 30px;
  border-radius: 10px;
}

.search__input:focus{
  outline: none;
  border-color: rgb(115, 121, 231);
}

.search__input-logo {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
}

.error-page {
  text-align: center;
  margin-top: 100px;
}
.error-page__title {
  font-size: 15rem;
  line-height: 15rem;

}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
}

.form__fieldset,
.form__text-input {
  height: 25px;
  width: 90%;
  margin-left: 10px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid;
}

.form__fieldset {
  height: fit-content;
}

.form__item {
  width: 46%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__label {
  /* display: block; */
}

.form__error-label {
  align-self: flex-end;
  height: 20px;
  color: rgb(170, 14, 14);
  font-size: smaller;
}

.form__legend {
  margin-left: 20px;
}
fieldset.form__item {
  padding: 5px;
  border-radius: 3px;
}
select{
  background-color: #ffffff;
}

.acc-container {
  margin-top: 15px;
}

.acc-container__title {
  text-align: center;
  font-size: 2rem;
}
.acc-container__body {
  display: flex;
  flex-wrap: wrap;
  gap: calc(100% / 15)
}

.acc {
  width: calc(100% / 5);
  padding: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 100ms ease-out;
}

.acc:hover {
  transform: scale(1.05);
}

.acc_active {
  box-shadow: #535bf2 0px 1px 4px;
}

.acc__img {
  width: 100%;
}

.acc__subtitle {
  margin-top: 5px;
}

.acc__delete-btn{
  margin: 7px auto;
  display: block;
}

.pop-up {
  position: fixed;
  top: 100px;
  right: 0;
  transform: translateX(100%);
  background-color: rgb(255 255 255 / 70%);
  padding: 15px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  transition: transform 500ms ease-in-out;
}

.pop-up_active {
  transform: translateX(-50%);
}